
*.xcuserstate

IOS/GearsGameCenter/GearsGameCenter.xcworkspace/xcuserdata/peterrau.xcuserdatad/UserInterfaceState.xcuserstate

IOS/GearsGameCenter/GearsGameCenter.xcworkspace/xcuserdata/Jian.xcuserdatad/UserInterfaceState.xcuserstate

